<script>
  window.__INITIAL_STATE__ = { authorization: JSON.parse('<%= authorization %>'.replace(/&#34;/g,'"')),
    flash: JSON.parse('<%= flash %>'.replace(/&#34;/g,'"')),
    tour: JSON.parse('<%= tour %>'.replace(/&#34;/g,'"')),
    user: JSON.parse('<%= user %>'.replace(/&#34;/g,'"'))
  }
  window.__SETUP__ = { api: JSON.parse('<%= api %>'.replace(/&#34;/g,'"')),
    context: JSON.parse('<%= context %>'.replace(/&#34;/g,'"')),
    description: JSON.parse('<%= description %>'.replace(/&#34;/g,'"')),
    siteEmail: '<%= SITE_EMAIL %>',
    siteLabel: '<%= SITE_LABEL %>',
    socket: JSON.parse('<%= socket %>'.replace(/&#34;/g,'"'))
  }
</script>
